.navbar {
  background: $background-color;
  font-family: $bodyFont;

  &.-dark {
    width: 100%;
  }

  .container {
    @include lg-xl-desktop-min-1200 {
      width: 1170px;
    }

    @include lg-tablet-md-desktop-min-992 {
      width: 970px;
    }

    @include tablets-min {
      width: 750px;
    }
  }
}

div a {
  margin: 0;
  display: flex;
}

div a i {
  font-size: 32px;
}

div a p {
  font-size: 25px;
  margin: 0 5px;
}

.navbar-toggler {
  @include dlg-tablet-md-desktop-max-992 {
    border: none;

    display: contents;
  }
}

button {
  .navbar-toggler-icon {
    @include tablets-max {
      margin: 0;
    }
  }
}

span.navbar-toggler-icon > img {
  margin: 0 0 0 -4px;
}

.navbar-dark .navbar-nav .nav-link {
  color: $fontcolor;
  font-weight: $bold;
}

.divider {
  @include lg-tablet-md-desktop-min-992 {
    width: 1px;
    height: 0;
    margin: 1.5rem 17px;
    overflow: hidden;
    border-top: 23px solid $fontcolor;
  }
}

.dropdown-divider {
  @include lg-tablet-md-desktop-max-991 {
    width: 1px;
    height: 0;
    margin: auto;
    overflow: hidden;
    border-left: 23px solid $fontcolor;
  }
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: $hovercolor;
}

ul li {
  margin: auto;
}

span {
  @include lg-tablet-md-desktop-max-992 {
    margin: 10px;
  }
}
