//navbar
@mixin Desktop-xl-nav {
    @media only screen and (min-width: 1200px) {

        .container {
            width: 1170px;

        }
    }
}

@mixin Desktop-lg-nav {
    @media only screen and (min-width:992px) {
        .container {
            width: 970px;
        }
    }
}

@mixin tablets-nav {
    @media only screen and (min-width:768px) {
        .container {
            width: 750px;
        }
    }
}



@mixin divider {
    @media only screen and (min-width:992px) {
        @content;

        width: 1px;
        height: 0;
        margin: 1.5rem 17px;
        overflow: hidden;
        border-top: 23px solid $fontcolor;
    }
}

@mixin dividerdropdown {
    @media only screen and (max-width:991px) {
        @content;
        width: 1px;
        height: 0;
        margin: auto;
        overflow: hidden;
        border-left: 23px solid $fontcolor;
    }
}

@mixin dividerdropdownmargin {
    @media only screen and (max-width:992px) {
        @content;
        margin: 10px;
    }
}

@mixin dropdownborder {
    @media only screen and (max-width:992px) {
        @content;
        border: none;

        display: contents;

    }
}

@mixin dropdownwidth {
    @media only screen and (max-width:768px) {
        @content;
        margin: 0;
    }
}