/* Error: Mixin doesn't accept a content block.
 *    ,
 * 28 | /         @include tablets-min {
 * 29 | |             .container {
 * 30 | |                 width: 750px;
 * 31 | |             }
 * 32 | \         }
 *    '
 *   layouts/_navbar.scss 28:9  @import
 *   layouts/base.scss 1:9      @import
 *   main.scss 2:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Mixin doesn't accept a content block.\a    \2577 \a 28 \2502  \250c          @include tablets-min {\a 29 \2502  \2502              .container {\a 30 \2502  \2502                  width: 750px;\a 31 \2502  \2502              }\a 32 \2502  \2514          }\a    \2575 \a   layouts/_navbar.scss 28:9  @import\a   layouts/base.scss 1:9      @import\a   main.scss 2:9              root stylesheet";
}
